.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

html {
  font-size: 62.5%;
  font-family: Poppins;
  background-color: #dcd7d3;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
}

button {
  width: 200px;
  height: 44px;
  border-radius: 24px;
  background-color: #29bbca;
  font-size: 2.4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

/* .active-link {
  font-weight: 700;
} */

a:active,
a:focus {
  font-weight: 700;
}

a:hover {
  border-radius: 8px;
  font-weight: 700;
  /* text-decoration: underline 8px;
  text-decoration-color: #12d9e7; */
}

.font-link1 {
  font-family: "Poppins", sans-serif;
}

.font-link2 {
  font-family: "Libre Baskerville", serif;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 156px 0px 156px;
  background-color: #dcd7d3;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* email button */

.email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 24px;
  border: solid 1px #1e1e1e;
  border-radius: 24px;
  background-color: #29bbca;
  cursor: pointer;
}

/* Home Component */

.home-greeting {
  display: flex;
  padding-left: 156px;
  gap: 72px;
  background-color: #dcd7d3;
  height: 340px;
}

.greeting {
  font-size: 2.4rem;
  max-width: 496px;
}

.bold-text {
  font-weight: 700;
}

/* Project One Home */
.project-one-home {
  padding: 102px 0px 31px 187px;
}

.project-one-text {
  display: flex;
  justify-content: space-between;
}

.small-caps1 {
  color: #111615;
  letter-spacing: 2.56px;
  margin-left: 189px;
  font-size: 2.4rem;
}

.small-caps2 {
  letter-spacing: 2.56px;
  font-size: 2.4rem;
}

.text-arrows {
  padding-top: 597px;
}

.text-and-next-arrow {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.text-and-next-arrow2 {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.text-and-next-arrow div {
  display: flex;
  align-items: center;
}

.e-commerce {
  display: flex;
  flex-direction: column;
}

.e-commerce-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 56px 80px 112px 80px;
}

.e-commerce-cards-container button {
  margin-bottom: 56px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lets-go-1 {
  padding-top: 58px;
}

.e-commerce-card {
  padding: 25px 108px 25px 108px;
  width: 632px;
  background-color: #c7b2b0;
  border-radius: 24px;
  max-width: 430px;
  font-size: 2.4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* TalonUI Component */

.talonUI {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #976d60;
}

/* Project 2 (UX Game) */
.project-two {
  background-color: #dcd7d3;
  color: #1e1e1e;
}

.ux-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
}

.ux-card {
  display: flex;
  flex-direction: column;
  padding: 25px 108px 25px 108px;
  width: 632px;
  background-color: #c7b2b0;
  border-radius: 24px;
  max-width: 425px;
  font-size: 2.4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Project 3 (ASL App) */

.project3-text {
  color: #322f32;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 2.56px;
  padding-top: 83px;
  padding-left: 187px;
}

.project-three-button {
  display: flex;
  justify-content: center;
}

.project-three-home {
  display: flex;
  background-color: #c7b2b0;
  color: #1e1e1e;
}

.asl-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

.asl-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asl-right p {
  max-width: 530px;
  font-size: 2.4rem;
}

.try-it {
  margin-top: 140px;
}

/* Art Gallery */

.art-paragraphs {
  padding: 40px 0 0 156px;
}

.art-sentence {
  color: #dcd7d3;
  font-size: 1.6rem;
}

.last-sentence {
  color: #dcd7d3;
  margin: 680px 0 0 156px;
  font-size: 1.6rem;
}
.small-caps4 {
  color: #48dcb0;
  letter-spacing: 2.56px;
}

.light-h2 {
  color: #ffffff;
}

.light-link {
  color: #ffffff;
  text-decoration: underline;
}

.dark-link {
  text-decoration: underline;
}

/* More Projects */
.more-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #dcd7d3;
  background-color: #1e1e1e;
  font-size: 1.4rem;
}

.footer ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.footer a {
  color: #fcf8f3;
}
