.App {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  background-color: #f6e3dc;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #1c1c1c;
}

h1 {
  font-weight: 400;
  color: #170811;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  color: #170811;
  font-weight: 900;
}

h3 {
  color: #926579;
  font-weight: 700;
}

h4 {
  color: #926579;
  font-weight: 400;
}

h2,
h3,
h4 {
  letter-spacing: 0.2px;
}

p {
  margin: 0;
}

.logo {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

button {
  background-color: #fefcfd;
  color: #1c1c1c;
  font-size: 1.6rem;
  padding: 10px 32px;
  border: #1c1c1c solid 0.5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: padding 800ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

button:hover {
  background-color: #ffead3;
  padding: 10px 64px;
  cursor: pointer;
}

button:hover::after {
  width: 100%;
}

/* .header-hero-container {
  background-image: url("/pink-water.jpg");
} */

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: #1c1c1c 1px solid;
  gap: 32px;
  height: 420px;
  padding-bottom: 72px;
}

.hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.welcome {
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.hero h1 {
  font-family: "Elsie Swash Caps", Arial, Helvetica, sans-serif;
  font-size: 14rem;
  line-height: 88%;
  font-weight: 900;
  color: #170811;
}

.sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero p {
  margin: 0;
}

.digital-designer {
  font-size: 3.2rem;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
}

.hero-bottom button {
  background-color: #ceffa8;
  padding: 10px 40px;
  border: #1c1c1c 1px solid;
  font-size: 2rem;
  transition: padding 500ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hero-bottom button:hover {
  background-color: #ffead3;
  padding: 10px 56px;
}

.junior {
  color: #926579;
}

/* what i do */
.what-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  height: 100vh;
}
.what-i-do {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  padding-top: 48px;
  gap: 72px;
}

.what-i-do h1 {
  color: #fefcfd;
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  font-size: 8.8rem;
  max-width: 234px;
  font-weight: 900;
  text-align: center;
  line-height: 88%;
}

.what-i-do-small-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.what-i-do h2 {
  color: #ffbe98;
  font-size: 1.6rem;
  font-weight: 500;
}

.what-i-do p {
  color: #fefcfd;
  font-size: 1.4rem;
  text-align: center;
  line-height: 140%;
}

.web-design-container {
  display: flex;
  flex-direction: column;
  background-color: #fefcfd;
  padding: 120px;
  border-bottom: #170811 0.5px solid;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.primary-button {
  background-color: #ffa0c2;
}

.wdc-left-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wdc-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 80vh;
  max-width: 500px;
  gap: 40px;
}

.wdc-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wdc-top {
  display: flex;
  justify-content: space-between;
}

.wdc-top h1 {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 80%;
}

.wdc-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 80vh;
  gap: 8px;
}

.web-design-container .made-in {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.4rem;
  color: #926579;
}

.h2-h3-container h3 {
  color: #926579;
  font-weight: 400;
}

.mobile-ux-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 144px;
  padding: 120px;
  border-bottom: #170811 0.5px solid;
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-top h1 {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 80%;
}

.mobile-top .made-in {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: #926579;
}

.column-1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.mobile-bottom {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  max-width: 263px;
}

.see-more {
  font-weight: 700;
}

.mobile-gif {
  background-color: #e0e0e0;
}

.email-design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 64px;
  background-color: #fefcfd;
  padding-top: 72px;
  padding-bottom: 72px;
}

.email-design-container h1 {
  font-size: 7.2rem;
}

.email-mid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.email-mockup-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}

.graphic-design-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 120px;
  background-color: #252525;
}

.graphic-design-rows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 64px;
  background-color: #fefcfd;

}

.graphic-design-row-1 {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 64px 16px;
}

.graphic-top-left,
.graphic-top-right {
  font-size: 12rem;
  font-weight: 700;
}

.graphic-top-mid {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.graphic-plus {
  font-size: 4.8rem;
}

.graphic-design-row-2 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}


.graphic-design-row-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.graphic-design-row-3 h3 {
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
}

.pink {
  color: #e144a2;
}

.art-design {
  font-weight: 500;
  font-size: 1.8rem;
}

.hero-designs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fefcfd;
  height: 112vh;
}

.hero-designs-container button {
  align-self: center;
}

.hero-designs-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 50%;
}

.hero-designs-left .h1-and-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
}

.hero-designs-left h1 {
  font-size: 8rem;
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  color: #fefcfd;
  line-height: 85%;
}

.hero-designs-left p {
  max-width: 331px;
  text-align: center;
  line-height: 160%;
}

.the-artist-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 80px 120px 80px 120px;
  border-bottom: #170811 0.5px solid;
}

.the-artist-container .made-in {
  text-align: right;
}

.the-artist-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.the-artist-left-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.the-artist-left-content h1 {
  font-size: 7.2rem;
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times;
  font-weight: 900;
  max-width: 214px;
  line-height: 85%;
}

.the-artist-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  height: 90vh;
}

.the-artist-right-a {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 216px;
}

.the-artist-right-b {
  display: flex;
  align-self: end;
}

.the-artist-right h2 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 85%;
}

.digital-illu-container {
  display: flex;
  flex-direction: column;
  padding: 80px 120px;
  height: 80vh;
  background-color: #fefcfd;
  border-bottom: #170811 0.5px solid;
}

.digital-illu-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-illu-left {
  display: flex;
  gap: 32px;
}

.digital-illu-container p {
  text-align: right;
}

.digital-illu-container h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 85%;
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  max-width: 412px;
}

.digital-illu-right-content h1 {
  padding-bottom: 32px;
}

.digital-illu-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
}

.digital-illu-right-imgs {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.portrait-artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #170811 0.5px solid;
}

.pa-content .made-in {
  text-align: right;
}

.pa-content {
  display: flex;
  flex-direction: column;
  padding: 80px 120px;
  height: 90vh;
  gap: 32px;
}

.pa-bottom {
  display: flex;
  justify-content: space-between;
}

.pa-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.pa-h1-p {
  display: flex;
  flex-direction: column;
}

.pa-h1-p h1 {
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 85%;
}

.pa-left-content {
  max-width: 420px;
}

.who-am-i-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  height: 112vh;
  padding-top: 48px;
}

.who-am-i {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.who-am-i h1 {
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  font-size: 8rem;
  font-weight: 900;
  color: #fefcfd;
  max-width: 216px;
  line-height: 88%;
}

.about-me-container {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f6e3dc;
  border-bottom: #170811 solid 0.5px;
}

.about-me-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  max-width: 508px;
  width: 50%;
  background-color: #fefcfd;
  border-right: #170811 0.5px solid;
  padding-left: 80px;
  padding-right: 80px;
}

.about-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 140%;
}

.about-me-left h1 {
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times;
  font-weight: 900;
  max-width: 326px;
  font-size: 8.8rem;
  line-height: 85%;
}

.about-me-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 50%;
  height: 100vh;
  padding-right: 0;
  /* background-color: #F6E3DC; */
}

.art-and-design-container {
  display: flex;
  flex-wrap: wrap;
  padding: 120px;
  height: 100vh;
}

.ad-left {
  width: 50%;
}

.ad-left h1 {
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  font-size: 8.8rem;
  font-weight: 900;
  max-width: 500px;
  line-height: 85%;
}

.ad-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /*^ This one aligned it vertically!  */
  gap: 24px;
  width: 50%;
  max-width: 542px;
}

.i-know-that-world {
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times;
  font-weight: 900;
  font-size: 4rem;
}

.branding-home-container {
  margin-left: 120px;
  max-width: 350px;
  height: 200px;
}

.thank-you-container {
  display: flex;
  justify-content: space-between;
  padding: 120px;
  height: 80vh;
  background-color: #fefcfd;
  border-top: #1c1c1c 0.5px solid;
}

.ty-left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.ty-left h1 {
  font-size: 7.2rem;
  max-width: 487px;
  line-height: 85%;
}

.ty-right {
  display: flex;
  align-items: end;
}

.ty-right p {
  font-size: 4.8rem;
  font-family: "Elsie Swash Caps", Georgia, "Times New Roman", Times, serif;
  max-width: 401px;
  line-height: 85%;
}

/* navigation */

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 0;
  height: 72px;
  background: #f6e3dc;
}

.nav-links-container {
  display: flex;
  gap: 24px;
}

.nav .nav-link.active {
  font-weight: bold;
}

.nav .nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  padding-bottom: 5px; /* Add padding for space below */
}

.nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px; /* Border height */
  background-color: #ceffa8; /* Initial border color */
  transition: width 0.3s ease, background-color 0.3s ease; /* Transition width and background-color */
}

.nav .nav-link:hover::after {
  background-color: #ffe0b5;
  width: 100%; /* Expand border to full width on hover */
}

.nav .nav-link:active::after {
  background-color: #fb896d; /* Change border color on click */
}

.nav .nav-link.active::after {
  width: 100%; /* Ensure border stays at full width on active links */
}

.primary-button {
  background-color: #ffa0c2;
  color: #1c1c1c;
  font-size: 1.6rem;
  padding: 10px 40px;
  border: #1c1c1c solid 1.5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: padding 800ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.primary-button:hover {
  background-color: #ffead3;
  padding: 10px 64px;
}

.primary-button:hover::after {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  list-style: none;
}

/* About */

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.about-text p {
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
}

.the-designer {
  width: 98vw;
}

.linkedin-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fefcfd;
  font-size: 2.4rem;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 44px;
  border-top: #1c1c1c 1px solid;

  border-bottom: #1c1c1c 1px solid;
}

.linkedin-bar button {
  background-color: #e5bfd6;
  padding: 10px 40px;
  border: #1c1c1c 1px solid;
  font-size: 1.6rem;
  transition: padding 800ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.linkedin-bar button:hover {
  background-color: #ffead3;
  padding: 10px 48px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f6e3dc;
  padding: 64px 120px 64px 80px;
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
}
.footer-right {
  display: flex;
  align-items: end;
  gap: 16px;
}

.footer ul {
  display: flex;
  gap: 8px;
  list-style: none;
}

.footer-logo {
  font-size: 2.4rem;
}

.social-icons {
  display: flex;
  gap: 4px;
}

/* .under-construction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb896d;
  height: 32px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border-bottom: #1c1c1c solid 0.5px;
} */

/* Media Queries */

@media screen and (max-width: 960px) {
  .hero {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .hero img {
    width: 540px !important;
  }
}
