html {
  font-size: 62.5%;
  font-family: Poppins;
  background-color: #dcd7d3;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

.font-link1 {
  font-family: "Poppins", sans-serif;
}

.font-link2 {
  font-family: "Libre Baskerville", serif;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 156px 0px 156px;
  background-color: #dcd7d3;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* email button */

.email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 24px;
  border: solid 1px #1e1e1e;
  border-radius: 8px;
  background-color: #69cfd9;
  cursor: pointer;
}

.email-button-bg {
  background-color: #dcd7d3;
}

.sticky-email-button {
  display: flex;
  justify-content: end;
  padding-right: 156px;
}

/* Work Component */

.work-greeting {
  display: flex;
  padding-left: 156px;
  gap: 72px;
  background-color: #dcd7d3;
  height: 340px;
}

.greeting {
  font-size: 2.4rem;
  max-width: 496px;
}

.bold-text {
  font-weight: 700;
}

/* Project One Home */
.project-one-home-text {
  display: flex;
  justify-content: space-between;
}

.small-caps1 {
  color: #69cfd9;
  letter-spacing: 2.56px;
}

.project-one-paragraphs {
  display: flex;
  flex-direction: column;
  max-width: 324px;
  padding: 272px 156px 0 0;
  color: #fcf8f3;
}

.project-one-paragraphs p {
  margin-bottom: 0;
}

.project-one-paragraphs h2 {
  margin: 0;
}

.in-progress-text {
  text-align: right;
}

.black-2023 {
  margin-top: 168px;
  color: #1e1e1e;
}

/* TalonUI Component */

.talonUI {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #976d60;
}

/* Project 2 (UX Game) */
.project-two {
  background-color: #dcd7d3;
  color: #1e1e1e;
}

.project-two-paragraphs {
  max-width: 290px;
}

.small-caps2 {
  color: #5731c5;
  letter-spacing: 2.56px;
}

.project-two-image-and-p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* SVG */

.svg2 {
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
}

.svg2 svg {
  width: calc(120% + 1.3px);
  height: 188px;
  transform: rotateY(180deg);
}

.svg2 .shape-fill {
  fill: #c7b2b0;
}

/* Project 3 (ASL App) */

.project3-text {
  padding-left: 200px;
}

.project-three-home-text {
  display: flex;
  justify-content: end;
  padding-right: 156px;
}

.small-caps3 {
  color: #fcf8f3;
  letter-spacing: 2.56px;
}

.project-three {
  background-color: #c7b2b0;
  color: #1e1e1e;
}

.project-three-paragraphs {
  max-width: 290px;
}

/* Art Gallery */

.art-paragraphs {
  padding: 40px 0 0 156px;
}

.art-sentence {
  color: #dcd7d3;
  font-size: 2.4rem;
}

.last-sentence {
  color: #dcd7d3;
  margin: 680px 0 0 156px;
  font-size: 1.4rem;
}
.small-caps4 {
  color: #48dcb0;
  letter-spacing: 2.56px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 72px;
  color: #dcd7d3;
  background-color: #1e1e1e;
}

.footer ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
